body {
    margin: 0 auto;
    font-family: "Microsoft YaHei";
    color: #333;
    font-size: 14px;
    width: 608px;
}

h2 {
    font-size: 24px;
    color: #000;
    font-weight: normal;
    text-align: center;
    line-height: 32px;
    padding: 35px;
}

img {
    width: 600px;
}

p {
    display: block;
}